font-family: 'PT Serif', serif;
font-family: 'Satisfy', cursive;

/* Base(normalize,layout,typography)*/
  h2 {
    font-family: 'Permanent Marker', cursive;
    offset: left;
    top:30px;
    right:px;
}
  p{
   font-family: 'Saira Semi Condensed', sans-serif;
}
  div {
    background-color:gold;
    text-align: center;
    height: auto;
    margin: 20px;
    border: 3px solid aquamarine; 
    outline: 4px dotted blue;
    outline-offset: 5px;
  }
  div {
    background-color:gold;
    text-align: center;
    height: auto;
    margin: 20px;
    border: 3px solid aquamarine; 
    outline: 4px dotted blue;
    outline-offset: 5px;
  }
/*Components(alerts,buttons,forms,list,nav,tables)*/
  table {
    border-collapse: collapse;
}

  td {
    border: 1px solid #a2c8dd;
    padding: 10px 15px;
}


/*Modules(aside,footer,header)*/
  aside {
    text-align: left;
    width: 40%;
    font-style: italic;
    color: #29627e;
  }

  
  

/* font-family: 'Saira Semi Condensed', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'PT Serif', serif; */


  

 

/* can design each box to be different using id elements */
  .block--blockWw {
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTmtvNSJsDa-zva-h35lf9G4P5KNNYhqBS2z23FP7VOqcTGmk_Z);
    background-repeat: no-repeat;
    background-position: right;
    background-color:#a2c8dd;
}

  .block--blockDw {
    height: 200px;
    background-color: #cccccc;
    background-image: linear-gradient(purple, yellow);
}

 